RewriteEngine On
RewriteBase /kosithuOop

RewriteRule ^([a-zA-Z0-9-_]+)/?$ index.php?action=$1
RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/?$ index.php?action=$1&method=$2
RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/?$ index.php?action=$1&method=$2&method1=$3